@import "./configs.scss";

.backToTop {
  position: fixed !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: $PrimaryColorWithOpacity;
  color: #fff;
  //border: 1px solid #000000;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom:50px;

  &:hover {
    background: $PrimaryColor4;
    color: $WhiteColor;
  }
}

.backToTop svg {
  width: 32px;
  height: 32px;
}
