$FontRegular: 'Biennale Regular';
$FontBold: 'Biennale Bold';
$FontLight: 'Biennale Light';

$PrimaryColor: #5E49FF;

$PrimaryColorWithOpacity: #cac5ec;
$PrimaryColorWithOpacity1: #cef1f2;
$PrimaryColor3: #3BD42D;
$PrimaryColor4: #25CBD3;
$PrimaryColor5: #F0F5FF;
$PrimaryColor6: #000000;
$PrimaryColor7: #EDEDED;
$PrimaryColor8:#7466DA;
$PrimaryColor9: #373737D9;

$WhiteColor: #FFFFFF;


$GreyColor: #7C7786;
$GreyColor1: #4D4C4D;
$error: #D44231;

$DesktopBreakpoint: 992px;
