@import "./configs.scss";

.DropdownMenu {
  background-color: $PrimaryColorWithOpacity;
  width: 350px;
  display: none;
  position: absolute;
  top: 100%;
  left: -260px;
  list-style: none;
  margin: 0;
  text-align: start;
  border-radius: 2%;
}
span {
  margin-left: 20px;
}

ul.DropdownMenu {
  padding: 10px;
  margin-left:30px;
}

.DropdownMenu {
  li {
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $PrimaryColor;
      color: $WhiteColor;
    }
  }
}

.BtnDropdown {
  cursor: pointer;

  &:hover {
    background-color: $PrimaryColor7;
    color: $WhiteColor;
  }
}

.Dropdown-li {
  display: flex;
  align-items: center;
  padding-bottom: 10px;  
  font-size: 20px;
  gap: 10px;
  border-bottom: 1px solid $GreyColor1;
}
.Dropdown-li:nth-child(6) {
  margin-bottom: none;
}

.iconClose {
  width: 30px;
  height: 30px;
  margin-left: -15px;
  margin-right: 12px;
}

.Dropdown-li span {
  margin-top: 10px;
}

.DropdownSpan {
  display: flex;
  width: 330px;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}

.Dropdown-li:nth-child(2) {
  margin-top: 15px;
}

.open .DropdownMenu {
  display: block;
}

.NavbarDropdown {
  position: relative;
  display: inline-block;
  background-color: $WhiteColor;
  color: $PrimaryColor;
}

button.BtnDropdown {
  color: $PrimaryColor;
  background-color: transparent;
  cursor: pointer;
  margin-top: 0px;
}


@media screen and (min-width: $DesktopBreakpoint) {
  .DropdownMenu {
    left: -100px;
  }

  .Dropdown-li:nth-child(7) {
    border-bottom: none;
  }

  ul.DropdownMenu {
    padding: 0px;
  }
  .Dropdown-li {
    margin-left: 0px;
    gap: 0px;
    padding-bottom: 3px;
  }

  .Dropdown-li:nth-child(8) {
    border-bottom: 20px;
  }
}

.ContainerInputDrop {
  display: flex;
  justify-items: flex-end;
  justify-content: left;
  width: 50%;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 5%;

  input {
    &::placeholder {
      color: $WhiteColor;
      opacity: 1;
    }
  }

  @media screen and (min-width: $DesktopBreakpoint) {
    width: 70%;
    margin-top: 10px;
    margin-left: 15px;
  }
}
