@import "./configs.scss";

.SearchContainer,
.IconeHome,
.AvatarMini,
.BtnEntrar,
.IconeSair {
  display: flex;
}

.mobile{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 100;
}




.ContainerFooter .ContainerNavigation {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $WhiteColor;
  border-top: 0.5px solid $PrimaryColor5;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

button.BtnDropdown {
  display: none;
}
/*.rodape{
    position: fixed;
    width: 100%;
    bottom: 0;

}*/

@media screen and (min-width: $DesktopBreakpoint) {
  .ContainerNavigation {
    display: none;
  }
  .mobile{
    display: none;
  }
}
