@import "./configs.scss";

.ContainerHeader {
  .SearchContainer,
  .IconeHome,
  .AvatarMini,
  .BtnEntrar,
  .IconeSair {
    display: none;
  }

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  z-index: 100;
  background-color: $WhiteColor;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid $GreyColor;
  gap: 80px;

  .ImgLogo {
    width: 35%;
    justify-content: center;
    //border-bottom: 0.5px solid $GreyColor;
    gap: 100px;
    cursor: pointer;


  }
  button.BtnDropdown {
    display: flex;
    align-items: center;
  }


  @media screen and (min-width: $DesktopBreakpoint) {
    width: 100vw;
    //justify-content: space-between;
    padding: 10px 0;
    gap: 100px;

    .ImgLogo {
      width: 15%;
      margin-left: 4%;
    }

    .ContainerNavigation {
      display: flex;
      width: 40%;
      margin-right: 0%;
      align-items: center;
      justify-content: space-evenly;
      margin-left: -70px;
      gap: 15px;

      .SearchContainer,
      .IconeHome,
      .AvatarMini,
      .BtnEntrar .IconeSair {
        display: flex;
      }
    }
  }
}
