@import './configs.scss';

.ContainerHeader{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;   
    background-color: $WhiteColor;
    align-items:center;
    justify-content: center;     
    border-bottom: 0.5px solid $GreyColor;
    gap:80px; 
   
    .ImgLogo{
     width: 35%;
   
    }
    @media screen and (min-width: $DesktopBreakpoint) { 
        width: 100vw;
        justify-content: center;
        padding: 20px 0;
        gap:130px; 
        
        .ImgLogo{
            width: 15%;
            margin-left: 4%;
        }
        
        .ContainerNavigation{
            display: flex;
            width: 50%;
            margin-right: 0%;
            align-items: center;
            justify-content: space-evenly;
            margin-left: -70px;
            gap: 15px;
        }  
    }
    }
