@import './configs.scss';

.ContainerInputDrop {
  display: flex;
  justify-items: flex-end;
  justify-content: left;
  width: 50%;
  margin-top: 10px;
  margin-left: 20px;
  border: 0.5px solid $PrimaryColor;
  border-radius: 5%;

  @media screen and (min-width: $DesktopBreakpoint) {
    width: 70%;
    margin-top: 10px;
    margin-left: 15px;
  }
}

.DropdownMenu {
  background: $PrimaryColor;
  width: 368px;
  display: none;
  position: absolute;
  top: 100%;
  left: -270px;
  color: $WhiteColor;
  list-style: none;
  margin: 0;
  text-align: start;
  border-radius: 5%;
}

span {
  margin-left: 20px;
}

.linhaDivisoria {
  width: 85%;
}

.Dropdown-li {
  display: flex;
  align-items: center;
  margin-left: 12px;
  padding-bottom: 15px;
  font-size: 20px;
  gap: 10px;
}

.iconClose {
  width: 30px;
  height: 30px;
  margin-left: -15px;
}

.Dropdown-li span {
  margin-top: 10px;
}

.DropdownSpan {
  display: flex;
  width: 330px;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  padding: 5px;
}

.Dropdown-li:nth-child(2) {
  margin-top: 15px;
}

.Dropdown-li:nth-child(5) {
  border-bottom: none;
}

.open .DropdownMenu {
  display: block;
}

.NavbarDropdown {
  position: relative;
  display: inline-block;
  background-color: $WhiteColor;
  color: $PrimaryColor;
}

button.BtnDropdown {
  color: $PrimaryColor;
  background-color: transparent;
  cursor: pointer;
  margin-top: 0px;
}

@media screen and (min-width: $DesktopBreakpoint) {
  .DropdownMenu {
    left: -100px;
  }

  .Dropdown-li {
    margin-left: 0px;
    gap: 0px;
    padding-bottom: 3px;
  }

  .Dropdown-li:nth-child(8) {
    border-bottom: 20px;
  }
}
