@import './configs.scss';

.icons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80px;
  font-size: 22px;
  padding: 15px;
  gap: 5px;

  .star-icon {
    margin-right: 0.5rem;
    width: 12px; /* Reduzido o tamanho do ícone de estrela */
    height: 12px; /* Reduzido o tamanho do ícone de estrela */
  }

  button.like-button,
  button.dislike-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 0.2rem;
    width: 6px; /* Reduzido o tamanho dos botões de curtir e descurtir */
    height: 6px; /* Reduzido o tamanho dos botões de curtir e descurtir */
    font-size: 10px;
  }

  @media screen and (min-width: $DesktopBreakpoint) {
    .icons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
    }


  }
}
