@import "./configs.scss";

.icons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80px;
  font-size: 22px;
  padding: 15px;
  gap: 5px;

  .star-icon {
    margin-right: 0.5rem;
    width: 12px;
    height: 12px;  
  }

  .percentage-icon {
    font-size: 14px; // luigi: criei
  }

  button.like-button,
  button.dislike-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 0.2rem;
    width: 6px;
    height: 6px;
    font-size: 10px;
  }

  @media screen and (min-width: $DesktopBreakpoint) {
    .icons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
    }

    .star-icon {
      margin-right: 0.5rem;
      width: 12px; // alterado de 18 para 12
      height: 12px;  // alterado de 18 para 12
    }
  }
}
