
@import './configs.scss';
.icons-container {
  display: flex; 
  align-items: center;
  flex-direction: row-reverse;
  width: 80px; 
  font-size: 10px;

  .star-icon {
    margin-right: 0.5rem;
   
  }

  .like-button button {
    border: none;
    background: none;
    cursor: pointer;
 

  }

  @media screen and (min-width: $DesktopBreakpoint) {

    font-size: 1rem;
   
  }

  .star-icon {
    margin-right: 0.5rem;
    width: 50px;
    height:50px;
   
  }

  
  button.like-button  {
    border: none;
    background: none;
    cursor: pointer; 
    margin-top: 0;
    margin-left: 5px;

  }


  
}
