@import "./configs.scss";

.icons-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 80px;
  font-size: 22px;
  padding: 15px;
  gap: 5px;

  .star-icon {
    margin-right: 0.5rem;
    width: 12px;  
    height: 12px;  
  }

  button.like-button,
  button.dislike-button {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0 0.2rem;
    width: 6px;
    height: 6px;
    font-size: 10px;
  }

  .percentage-icon{
     font-size: 10px;
  }

  span.percentage-icon{
    margin-left: 2px;
 }

  @media screen and (min-width: $DesktopBreakpoint) {
    .icons-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
    }

    .star-icon {
      //margin-right: 0.5rem;
      width: 18px;  
      height: 18px;  
    }

    .percentage-icon{
      font-size: 13.5px;
   }

   span.percentage-icon{
    margin-left: 10px;
 }
 
  }
}
