@import './configs.scss';

.containerMovie{
  display: flex;
  flex-direction: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 1rem;
  background-color: $PrimaryColorWithOpacity;
  background-image: url('../../assets/imagens/fundodevaflix.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  

.movie-page {
  display: flex; 
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;  
  margin: 0.250rem auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
 background:rgba(0,0,0,0.55);
 padding: 5%;
 
 button.btnHeaderSair{
  width: 35%;
}


  svg {
    font-size: 1.5rem;
    color: #f7d354;
  }

  img{
       width: 150px;
       height: 190px;
  }

  .movie-card {
    width: 100%;
    text-align: center;

    
    img,
    h2,
    p {
      margin-bottom: 0.550rem;
      font-size: 1rem;
    }

    h2 {
      font-size: 3rem;
     
    }

    p {
      display: flex;
      align-items: center;
      justify-content: center;     
    
    }
  }
}

.tagline {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.info {
  margin-bottom: 1.5rem;

  h3 {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.description {
  p {
    line-height: 1.4rem;
  }
}
}

@media screen and (min-width: $DesktopBreakpoint) {
  .movie-card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
  
    
  }
 
  .containerMovie .movie-page{
     width: 50%;
  }

.containerMovie .movie-page img {
  border-radius: 2%;
  width:350px;
  height:400px;

}
   .movie-page{
     padding: 35%;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
     rgba(0, 0, 0, 0.12) 0px -12px 30px, 
     rgba(0, 0, 0, 0.12) 0px 4px 6px, 
     rgba(0, 0, 0, 0.17) 0px 12px 13px, 
     rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background:rgba(0,0,0,0.55);
   }

  .movie-page h1{
     font-size: 2.2rem;
  }

  .movie-page p{
    font-size: 1rem;
  text-align: center;
  margin-bottom: 0.1rem;
  display: none;
 }

 button.btnHeaderSair{
   width: 27%;
 }


}

