@import './configs.scss';
.container {
  background-color: $PrimaryColorWithOpacity;
  background-image: url('../../assets/imagens/fundodevaflix.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .title {
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0 1rem;

    .query-text {
      color: #25CBD3;
    }
  }

  .titleCategory{
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin: 0;
    

  }
  .icons-container,
  a{
     display: none;  

  }

}

.movies-container {
  display: flex;
  flex-wrap: wrap;  
  padding: 0.5rem;
  margin: 0 auto;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
 background:rgba(0,0,0,0.55);
  
//tratar cada card individualmente
  div {
    width: 15%;
    color: #fff;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
 background:rgba(0,0,0,0.55);
    padding: 0.289rem;
    border-radius: 8px;

    img {
      max-width: 100%;
    }

    img,
    p {
      margin-bottom: 0rem;
    }

    h2 {
      display: none;
    }

    svg {
      color:  #f7d354;
    }

    a {
      background-color:  $PrimaryColor;
      border: 2px solid  $PrimaryColor;
      border-radius: 4px;
      color: #000;
      padding: 0.2rem 0.5rem;
      text-align: center;
      font-weight: bold;
      font-size: 10px;

      &:hover {
        background-color: transparent;
        color:  #25CBD3;
      }
    }
  }
}

@media screen and (min-width: $DesktopBreakpoint) {
  .container {
    width: 100%;
  
    .title {
      color: #fff;
      font-size: 2.5rem;
      text-align: center;
      margin: 2rem 0 1rem;
  
      .query-text {
        color: #25CBD3;
      }
    }
  
    .titleCategory{
      color: #fff;
      font-size: 2.5rem;
      text-align: left;
      margin-left: 15%;
      margin: 0;

  
    }
    .icons-container{
       display: flex;
       width: 80%;
       height: 20px;
      flex-direction: row;
      margin-bottom: 0.5rem;   
      
     }   
      
  
  
  
  }
  
  
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    //justify-content: space-between;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
  //tratar cada card individualmente
    div {
      width: 8%;
      color: #fff;
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      background: rgba(0, 0, 0, 1);
      padding: 1rem;
      border-radius: 8px;
       
  
      a {
        display: inline;
        background-color:  $PrimaryColor;
        border: 2px solid  $PrimaryColor;
        border-radius: 4px;
        color: #000;
        padding: 0.5rem 0.5rem;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
  
        &:hover {
          background-color: transparent;
          color:  #25CBD3;
        }
      }
    }
  }


}

