@import './configs.scss';
.container {
  background-color: $PrimaryColorWithOpacity;
  background-image: url('../../assets/imagens/fundodevaflix.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .title {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin: 0rem 0 1rem;
    color: transparent;

    .query-text {
      color: #25CBD3;
    }
  }

  p.titleCategory{
    color: #fff;
    font-size: 20px;
    text-align: left;    
    margin: auto; 
    padding: 2px;       
    
    }

}

.movies-container {
  display: flex;
  flex-wrap: wrap;  
  padding: 0.5rem;
  margin: 0 auto;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
 background:rgba(0,0,0,0.55);
  
//tratar cada card individualmente
  div {
    width: 20%;
    color: #fff;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, 
  rgba(0, 0, 0, 0.12) 0px 4px 6px, 
  rgba(0, 0, 0, 0.17) 0px 12px 13px, 
  rgba(0, 0, 0, 0.09) 0px -3px 5px;
 background:rgba(0,0,0,0.55);
    padding: 1rem;
    border-radius: 8px;

    img {
      max-width: 100%;
    }

    img,
    p {
      margin-bottom: 0rem;
     
    }

    h2 {
      display: none;
    }

    svg {
      color:  #f7d354;
    }

    a {
      background-color:  $PrimaryColor;
      border: 2px solid  $PrimaryColor;
      border-radius: 4px;
      color: #000;
      padding: 0.2rem 0.5rem;
      text-align: center;
      font-weight: bold;
      font-size: 10px;

      &:hover {
        background-color: transparent;
        color:  #25CBD3;
      }
    }
  }
.icons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 12px;
  width: 100px;
  padding: 5px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: -20px;
  gap: 0;
}
.star-icon {
  margin-right: 0.5rem;
  width: 18px; 
  height: 18px; /* Ajuste o tamanho do ícone de estrela para a versão de desktop */
  font-size: 15px;
}

button.like-button svg,
button.dislike-button svg {
  width: 10px;
  height: 10px;
}

button.like-button,
button.dislike-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0 0.2rem;
}

}

@media screen and (min-width: $DesktopBreakpoint) {

  .movies-container{
    width: 12%;

  }
  .container {
    width: 100%;
    
  
    h2.title {
      color: #fff;
      font-size: 2.5rem;
      text-align: center;
      margin: 10rem 0 1rem;
  
      .query-text {
        color: #25CBD3;
      }
    }
  
     p.titleCategory{
      color: #fff;
      font-size: 32px;
      text-align: left;
      margin-left: 2%;     
      padding: 8px;
      }
      .icons-container{
        display: flex;
        flex-direction: row;
        font-size: 10px;
        width: 100%;
        padding: 2px;
      }
      .star-icon {
        margin-right: 0.5rem;
        width: 18px; 
        height: 18px; /* Ajuste o tamanho do ícone de estrela para a versão de desktop */
        font-size: 15px;
      }
      
      button.like-button svg,
      button.dislike-button svg {
        width: 10px;
        height: 10px;
      }
      
      button.like-button,
      button.dislike-button {
        border: none;
        background: none;
        cursor: pointer;
        margin: 0 0.2rem;
      }   
    
  }
  
  
  .movies-container {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    //justify-content: space-between;
    padding: 1rem;
    width: 95%;
    margin: 0 auto;
    gap: 10px;
  //tratar cada card individualmente
    div {
      width: 8%;
      color: #fff;
      margin-bottom: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      background: rgba(0, 0, 0, 1);
      padding: 1rem;
      border-radius: 8px;
       
  
      a {
        display: inline;
        background-color:  $PrimaryColor;
        border: 2px solid  $PrimaryColor;
        border-radius: 4px;
        color: #000;
        padding: 0.5rem 0.5rem;
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
  
        &:hover {
          background-color: transparent;
          color:  #25CBD3;
        }
      }
    }
  }


}
