@import './configs.scss';

.SearchInput {
  background-color: $PrimaryColor7;
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 3px;
  font-size: 15px;}

@media screen and (min-width: $DesktopBreakpoint) {

  .SearchResultsPage{
     width: 100%;


    h2{
      margin-top: 120px;
      text-align: center;
      font-size: 20px;
      color: $WhiteColor;
      line-height: 20px;
      
    }
  }
  .SearchInput {
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    padding-top: 8px;
         
  

    .SearchInput:hover{
      border: 1px solid $PrimaryColor;
    }
    
    &::placeholder {
      /*crhome, opra, safari e firefox*/
      color: $PrimaryColor;
      opacity: 1;
    }
  }
 

  
}





